.panel-heading {
    padding: 5px 15px;
}

body {
    padding-top: 20px;
}

.panel-body .btn:not(.btn-block) {
    width: 120px;
    margin-bottom: 10px;
}


.t_light {
    height:30px !important;
    width: auto;
}

.PleaseWait {
    height: 32px;
    width: 500px;
    background-image: url(Images/PleaseWait.gif);
    background-repeat: no-repeat;
    padding-left: 40px;
    line-height: 32px;
}
